<!-- <div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">
          
          <div class="masthead clearfix">  -->
          <div class="container">
            <div class="row">
              <div class="col-lg-offset-2 col-lg-8">
                <div class="header">
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="inner">              
                      <%= image_tag("ebate-logo.png", :alt => "ebate-logo", :class => "masthead-brand") %>
                      <ul class="nav masthead-nav">
                        <li class="active">
                          <%= link_to "Home", root_url %>
                        </li>
                        <li><%= link_to "FAQ", "faq" %></li>
                      </ul>        
                    </div><!--inner-->
                  </nav>
                </div><!--header-->                
              </div><!--col-lg-offset-2 col-lg-8-->     
                <div class="col-lg-offset-1 col-lg-6 slogan">
                  <p>A penny saved is two pennies earned!</p>
                </div>        
            </div><!--row-->
            
            <div class="row">
              <div class="col-lg-offset-2 col-lg-8">
                <div class="inner cover">
                  <h1 class="cover-heading">How Does It Work?</h1>
                    <p class="lead">Ebates is an affiliate company. Retailers will pay affiliates money to send traffic to their websites. Ebates takes that commission and splits it with you.</p><p class="lead"> See Video:           
                    </p>
                    <p>
                      <iframe style="visibility:hidden;" onload="this.style.visibility = 'visible';" width="70%" height="275" src="//www.youtube.com/embed/MdS9HxwtOFs?modestbranding=0&;rel=0&;showinfo=0;autohide=1" frameborder="0" wmode="Opaque"></iframe>
                    </p>               
    


                <!-- replaced with video -->
                <!-- <div id='example'>
                  <p class="well">
                    Macy's gives Ebates 2% of every sale that gets referred. If Ebates sends a customer that makes $500 worth of purchases at Macy's then Ebates will make $10 on that sale. Ebates then takes that $10 and splits the profit by giving you $5. This results in a 1% cash back rate.
                  </p>
                </div> -->
                
                <p style="color:green">LIMITED TIME OFFER: Receive $10 Gift Card of your choice after signing up and with $25 purchase</p><br>
                
                <%= link_to "Sign Up Now", "http://www.ebates.com/rf.do?referrerid=RfwSC5%2Fo28dJapxMLOKAgQ%3D%3D&eeid=26471", class: "btn", id: "btn-cta" %>            

            <br><br><br>

                <div class="well">
                  <h3 class="shadow-1">Participating Stores</h3>
                    <form class="form-inline" role="form">
                      <input name="keyword" class="form-control" placeholder='Search Store...'>
                      <input type="submit" value="Search" class="btn btn-info">
                      <!-- <button class="btn btn-succes" action="/" method="post" name="keyword" value="ALL!">Show All</button> -->
                    </form>
                    <br>
                    <ul id="store-list">
                      <% @stores.each do |store| %>
                        <li><%= link_to "#{store.name}: #{store.cash_back}", "http://www.ebates.com/rf.do?referrerid=RfwSC5%2Fo28dJapxMLOKAgQ%3D%3D&eeid=26471" %></li>
                      <% end %>
                    </ul>
                  </div><!--well-->
                  <div class="mastfoot hidden-lg hidden-sm hidden-xs hidden-md">
                    <div class="inner">
                      <p>Cash Back Search Engine for Ebates &copy; 2014</p>
                    </div>
                  </div>
                  <div class="mastfoot2 hidden-lg">
                    <div class="inner">
                      <p>Cash Back Search Engine for Ebates &copy; 2014</p>
                    </div>
                  </div>
                </div><!--inner cover-->
              </div><!--col-lg-offset-2 col-lg-8-->
            </div><!--row-->

          </div><!--container-->
        
            
        <!-- </div>cover-container -->

    <!-- </div>site-wrapper-inner -->

<!-- </div>site-wrapper -->

